* {margin: 0; padding: 0;}
body {line-height:150%; color:#555; font-size:14px;} 
li {list-style:none} 
img {vertical-align:top; padding:0}
a, a:link, a:active, a:focus, a:hover {color:#666; text-decoration:none}
.clear {clear:both;}

.header_wrap, .top_wrap {
	width:100%;	
}
.header_content {
	width:1200px;
	margin:0 auto;
	padding:20px 0;
}
.top_wrap {
	border-bottom: 1px solid #ccc;
}
.top_bar {
	width:1200px;
	margin:0 auto;
}
nav {
	float: right;
	padding: 20px 0;
}
nav .list li {
	float: left;
}
nav .list li a {
	padding: 5px 10px;
	font-size:12px;
	color:#000;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 25px;
}
nav .list li:hover a {
	background: #b8cd06;
	border-radius: 30px;
	color:#fff;	
}
.topbar {
	position: relative;
	border-bottom: 1px solid #ccc;
}
.topbar-left ul li {
	display: inline-block;
	border-left: 1px solid #ccc;	
	padding: 25px;
	font-size: 12px;
}
.topbar-left ul li:last-child {
	border-right: 1px solid #ccc;
}
.topbar-right {
	float: right;
}
.topbar-right ul li {
	display: inline-block;
	border-left: 1px solid #ccc;	
	padding: 25px;
	font-size: 12px;
}
	