* {margin: 0; padding: 0;}
li {list-style: none;}

/*common*/
.wrapper {width:1200px; margin: 0 auto;}
body {background: #f1f1f1; color:#444;}

.header {background: #fff; border-bottom: 1px solid #ddd;}
.header .top {height: 60px;  border-bottom: 1px solid #ddd;}
.header .nav {height: 100px;}

.top .top_left {float: left;}
/*.top .top_left .contact {float: left;}
.top .top_left .email {float: left;} 공통클래스 쓰기*/
.top .top_left .left_menu {float: left; font-size: 10px; color:#999;
line-height: 60px; border-right: 1px solid #ccc; padding: 0 30px;}
.top .top_left .left_menu.contact {border-left: 1px solid #ddd;}
.top .top_left .left_menu span {color: #444; font-size: 12px; font-weight: bold; text-transform: uppercase;}

.top .top_right {float: right;}
.top .top_right li {float: left; font-size: 12px; font-weight: bold; line-height: 60px; padding: 0 30px; color:#444; border-left:1px solid #ddd;}
.top .top_right li:last-child {border-right:1px solid #ddd;}